@font-face {
    font-family: "Abhaya Libre";
    src: url("/resources/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf");
}

@font-face {
    font-family: "Alegreya";
    src: url("/resources/fonts/Alegreya/static/Alegreya-Regular.ttf");
}

@font-face {
    font-family: "Aleo";
    src: url("/resources/fonts/Aleo/Aleo-Regular.ttf");
}

@font-face {
    font-family: "Arapey";
    src: url("/resources/fonts/Arapey/Arapey-Regular.ttf");
}

@font-face {
    font-family: "Asap Condensed";
    src: url("/resources/fonts/Asap_Condensed/AsapCondensed-Regular.ttf");
}

@font-face {
    font-family: "Assistant";
    src: url("/resources/fonts/Assistant/static/Assistant-Regular.ttf");
}

@font-face {
    font-family: "Barlow";
    src: url("/resources/fonts/Barlow/Barlow-Regular.ttf");
}

@font-face {
    font-family: "Bitter";
    src: url("/resources/fonts/Bitter/static/Bitter-Regular.ttf");
}

@font-face {
    font-family: "Brawler";
    src: url("/resources/fonts/Brawler/Brawler-Regular.ttf");
}

@font-face {
    font-family: "Caladea";
    src: url("/resources/fonts/Caladea/Caladea-Regular.ttf");
}

@font-face {
    font-family: "Carme";
    src: url("/resources/fonts/Carme/Carme-Regular.ttf");
}

@font-face {
    font-family: "Encode Sans Semi Condensed";
    src: url("/resources/fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-Regular.ttf");
}

@font-face {
    font-family: "Enriqueta";
    src: url("/resources/fonts/Enriqueta/Enriqueta-Regular.ttf");
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url("/resources/fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf");
}

@font-face {
    font-family: "Gelasio";
    src: url("/resources/fonts/Gelasio/Gelasio-Regular.ttf");
}

@font-face {
    font-family: "Headland One";
    src: url("/resources/fonts/Headland_One/HeadlandOne-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("/resources/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Merriweather";
    src: url("/resources/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/resources/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Mulish";
    src: url("/resources/fonts/Mulish/static/Mulish-Regular.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("/resources/fonts/Nunito/static/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/resources/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("/resources/fonts/Oswald/static/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/resources/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/resources/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Rokkit";
    src: url("/resources/fonts/Rokkitt/static/Rokkitt-Regular.ttf");
}

@font-face {
    font-family: "Rubik";
    src: url("/resources/fonts/Rubik/static/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/resources/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Spectral";
    src: url("/resources/fonts/Spectral/Spectral-Regular.ttf");
}

@font-face {
    font-family: "Work Sans";
    src: url("/resources/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}













